<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.basicproject">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--拍照-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.android.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.android.base.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--框架篇-->
        <!--测试内存泄漏-->
        <activity
            android:name="com.android.frame.TestLeakActivity"
            android:launchMode="singleTop" />  <!--加上singleTop属性可以防止快速点击启动两个相同的Activity-->
        <!--权限动态申请-->
        <activity android:name="com.android.frame.permission.PermissionRequestActivity" />
        <activity android:name="com.android.frame.permission.PermissionFrameActivity" />
        <!--通用WebView-->
        <activity android:name="com.android.frame.WebView.CommonWebviewActivity" />
        <!--测试Retrofit-->
        <activity android:name="com.android.frame.http.AATest.TestRetrofitActivity" />
        <activity android:name="com.android.frame.http.AATest.WangYiNewsWebviewActivity" />
        <!--zxing扫码-->
        <activity android:name="com.android.frame.camera.zxing.ui.CaptureActivity" />
        <activity android:name="com.android.frame.camera.zxing.AATest.ScanActivity" />
        <activity android:name="com.android.frame.camera.zxing.AATest.TestZXingActivity" />
        <!--MVP框架-->
        <activity android:name="com.android.frame.mvp.AATest.activity.TestMvpActivity" />
        <activity android:name="com.android.frame.mvp.AATest.activity.weather.WeatherActivity" />
        <activity android:name="com.android.frame.mvp.AATest.activity.newslist.NewsListActivity" />

        <!--控件篇-->
        <!--CommonPopupWindow使用例子-->
        <activity android:name="com.android.widget.PopupWindow.AATest.TestPopupWindowActivity" />
        <activity android:name="com.android.widget.PieChart.TestPieChartActivity" />
        <activity android:name="com.android.widget.LineChart.TestLineChartActivity" />
        <activity android:name="com.android.widget.TestSingleWidgetActivity" />
        <activity android:name="com.android.widget.dialog.TestDialogActivity" />
        <!--RecyclerView-->
        <activity android:name="com.android.widget.RecyclerView.AATest.TestRecyclerViewActivity" />
        <activity android:name="com.android.widget.RecyclerView.AATest.TestSingleAdapterActivity" />
        <activity android:name="com.android.widget.RecyclerView.AATest.TestMultiAdapterActivity" />
        <activity android:name="com.android.widget.RecyclerView.AATest.TestHeaderAdapterActivity" />
        <activity android:name="com.android.widget.RecyclerView.AATest.TestFooterAdapterActivity" />
        <activity android:name="com.android.widget.RecyclerView.AATest.TestLoadMoreWrapperActivity" />
        <activity android:name="com.android.widget.RecyclerView.AATest.TestSingleLoadMoreAdapterActivity" />
        <activity android:name="com.android.widget.RecyclerView.AATest.TestMultiLoadMoreAdapterActivity" />
        <!--拍照或从相册选取弹窗-->
        <activity android:name="com.android.widget.PicGetterDialog.AATest.TestPicGetterDialogActivity" />
        <!--Android 7.0后通过fileprovider共享文件-->
        <provider
            android:name="com.android.widget.PicGetterDialog.PicProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pic_getter_file_paths" />
        </provider>
        <!--图片裁剪UCrop-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--工具篇-->
        <!--实现沉浸式状态栏-->
        <activity android:name="com.android.util.StatusBar.TestStatusBarUtilActivity" />
        <activity android:name="com.android.util.TestUtilActivity" />
        <activity android:name="com.android.util.code.TestCodeUtilActivity" />
    </application>

</manifest>